<ion-content class="d-flex justify-content-center">
  <img
    class="image_back"
    src="../../assets/image/Vector.png"
    alt=""
    routerLink="/sing-in"
  />
  <div class="text-center">
    <img class="image-logo" src="../../assets/image/logo.png" alt="" />
  </div>

  <ion-input
    label="Outline Email"
    label-placement="floating"
    fill="outline"
    placeholder="Enter your email address"
    class="input-class"
  ></ion-input>
  <ion-input
    label="Outline Password"
    label-placement="floating"
    fill="outline"
    placeholder="Create Password"
    class="input-class mt-3"
  ></ion-input>
  <ion-input
    label="Outline Password"
    label-placement="floating"
    fill="outline"
    placeholder=" Confirm Password"
    class="input-class mt-3"
  ></ion-input>
  <div class="d-flex justify-content-center mt-5">
    <ion-button
      shape="round"
      class="accept-btn"
      style="--background: #0ba8e6"
      routerLink="/personal-information"
      >Next</ion-button
    >
  </div>
</ion-content>
