<ion-content>
  <div class="class-1">
    <img
      class="image_back"
      src="../../assets/image/Vector.png"
      alt=""
      routerLink="/accept"
    />
    <ion-card-title class="text-center">Personal Information</ion-card-title>
  </div>
  <ion-input
    label="Outline First Name"
    label-placement="floating"
    fill="outline"
    placeholder="Enter your first name"
    class="input-class mt-3"
  ></ion-input>
  <ion-input
    label="Enter your Last Name"
    label-placement="floating"
    fill="outline"
    placeholder="Enter your last name"
    class="input-class mt-3"
  ></ion-input>
  <ion-input
    label="Outline Mobile"
    label-placement="floating"
    fill="outline"
    placeholder=" Mobile number"
    class="input-class mt-3"
  ></ion-input>
  <ion-input
    label="Outline SSN"
    label-placement="floating"
    fill="outline"
    placeholder=" SSN"
    class="input-class mt-3"
  ></ion-input>
  <ion-card-title class="mt-2 ms-2">Personal Information</ion-card-title>
  <ion-input
    label="Outline Address line 1"
    label-placement="floating"
    fill="outline"
    placeholder=" Address line 1"
    class="input-class mt-3"
  ></ion-input>
  <ion-input
    label="Outline Address line 2"
    label-placement="floating"
    fill="outline"
    placeholder=" Address line 2"
    class="input-class mt-3"
  ></ion-input>
  <ion-input
    label="Outline Zip Code"
    label-placement="floating"
    fill="outline"
    placeholder=" Zip Code"
    class="input-class mt-3"
  ></ion-input>
  <ion-select
    label="Outline State"
    label-placement="floating"
    fill="outline"
    class="input-class mt-3"
  >
    <ion-select-option value="apple">Apple</ion-select-option>
    <ion-select-option value="banana">Banana</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>
  </ion-select>
  <ion-select
    label="Outline Country"
    label-placement="floating"
    fill="outline"
    class="input-class mt-3"
  >
    <ion-select-option value="apple">Apple</ion-select-option>
    <ion-select-option value="banana">Banana</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>
  </ion-select>
  <div class="d-flex justify-content-center mt-5">
    <ion-button
      shape="round"
      class="accept-btn"
      style="--background: #0ba8e6"
      routerLink="/payment"
      >Next</ion-button
    >
  </div>
</ion-content>
