.image_back {
  padding: 10px;
}
.terms-condition {
  font-size: 25px;
}

.container {
  padding: 0px 35px 0px 50px;
}

.privacy-content {
  //   padding: 10px;
  margin-top: 160px;
}
.accept-btn {
  color: white;
  width: 187px;
  height: 47px;
  font-size: 17px;
  font-weight: bold;
}
